header{

/*     box-shadow: 4px 4px 4px rgba(0,0,0,0.1); */
    background-color: white;
    font-size: 30px;
    height: 50px;
    padding-top: 25px;
    padding-left: 16px;
    padding-bottom: 15px;
    color: rgba(0,0,0,0.8);
}

.logo{
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 8px;
}